body {
  text-align: center;
}
.container {
  max-width: 700px;    
  margin: auto;    
  padding: 50px 5%;
  background-color: rgb(56, 32, 10);
  border-radius: 10px;  
}

.key {
  position: relative;
  float: left;  
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;     
}

.white {
  width: 9.95%;  
  border: 1px outset black;
  border-radius: 0 0 10px 10px; 
  z-index: 1;  
  height: 200px; 
  line-height: 350px;
  background-color: rgb(235, 235, 225);  
  
}

.black {
  width: 4%;  
  margin-left: -2%;  
  z-index: 2;  
  border-radius: 0 0 5px 5px;
  height: 100px;
  line-height: 175px;
  background-color: black;
  color: white;
}

.afterBlack {
  margin-left: -2%;
}

.selected.black{
 background-color: #444;
}

.selected.white{
  background-color: #aaa;
 }

@media (min-height: 350px){
.container {
  margin-top: calc((100vh - 349px) / 2);
}
 }


.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after
 {
  clear: both;
}